<section class = "row" style="margin-top: 5rem; text-align: center;">
    <app-title title="Dettagli Socio" secTitle="{{user.firstName}} {{user.lastName}}"/>
    <div>
        <div>
            <label> <b> Id: </b></label> {{user.id}}
        </div>
        <div>
            <label> <b> Nome: </b></label> {{user.firstName}}
        </div>
        <div>
            <label> <b> Cognome: </b></label> {{user.lastName}}
        </div>
        <div>
            <label> <b> Data di nascita: </b></label> {{user.birth}}
        </div>
        <div>
            <label> <b> Email: </b></label> {{user.email}}
        </div>
        <div>
            <label> <b> Tesseramento: </b></label> {{user.cardType}}
        </div>
    </div>
</section>