<article class='tour-card'>
    <div class='tour-img-container'>
      <img src='{{tourObj.image}}' class='tour-img' alt='' />
      <p class='tour-date'>{{tourObj.date}}</p>
    </div>
    <div class='tour-info'>
      <div class='tour-title'>
        <h4>{{tourObj.title}}</h4>
      </div>
      <p>
        {{tourObj.info}}
      </p>
      <div class='tour-footer'>
        <p>
          <span><i class='fas fa-map'></i></span> {{tourObj.location}}
        </p>
        <p>{{tourObj.duration}} days</p>
        <p>from {{tourObj.price}}€</p>
      </div>
    </div>
  </article>