<main>
    <nav class='navbar'>
        <div class='nav-center'>
        <div class='nav-header'>
            <img [src]="logo" class='nav-logo' alt='otter friend' />
            <button type='button' class='nav-toggle' id='nav-toggle'>
            <i class='fas fa-bars'></i>
            </button>
        </div>

        <app-page-links parentClass='nav-links' itemClass='nav-link'/>


<!--             <ul class="nav-links" id="nav-link">
                <li>
                    <a href="/" class="nav-link">
                    Link text
                    </a>
                </li>
            </ul>
            <ul class="nav-links" id="nav-link">
                <li>
                    <a href="/" class="nav-link">
                    Link text2
                    </a>
                </li>
            </ul>
            <ul class="nav-links" id="nav-link">
                <li>
                    <a href="/" class="nav-link">
                    Link text3
                    </a>
                </li>
            </ul> -->


            <ul class="nav-icons">
                <li>
                    <a href="/" target='_blank' rel='noreferrer' class="nav-icons">
                        <i class="icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</main>
