<section class="section services" id="services">
  <app-title title="our" secTitle="services"/>

     <div class="section-center services-center">

        <article class="service" >
            <span class="service-icon">
                <i class="service-icon"></i>
            </span>
            <div class="service-info">
              <h4 class="service-title">Titolo</h4>
              <p class="service-text">
                testo
              </p>
            </div>
          </article>

          <article class="service" >
            <span class="service-icon">
                <i class="service-icon"></i>
            </span>
            <div class="service-info">
              <h4 class="service-title">Titolo2</h4>
              <p class="service-text">
                testo
              </p>
            </div>
          </article>

          <article class="service" >
            <span class="service-icon">
                <i class="service-icon"></i>
            </span>
            <div class="service-info">
              <h4 class="service-title">Titolo3</h4>
              <p class="service-text">
                testo
              </p>
            </div>
          </article>
     </div>
   </section>