<section class="message" id="home">
    <div class="message-banner">
      <h2>Associati</h2>
        <form>
            <div>
                <label for="firstname">First Name:
                    <input id="firstname" type="text">
                </label>
            </div>
            <div>
                <label for="password">Password:
                    <input id="password" type="password">
                </label>
            </div>
            <button class="btn message-btn" style="scale: 0.7;" type="submit">Conferma</button>
        </form>
    </div>
  </section>
